h1{
    color: red;
    text-align: center;
 }
 
 ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    background-color: rgb(16, 126, 24);
    padding: 15px;
 }
 
 .button a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
 }
 
 
footer{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(16, 126, 24);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
 
footer a{
    text-decoration: none;
    color: white;
}
 
 
 
 
 