<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
  <header>
    <nav>
        <ul>
            <li class="button button--menu"><a href=" /">Accueil</a><a href=""></a><a href=""></a></li>
            <li class="button button--menu"><a href="/classesList">Classes</a><a href=""></a><a href=""></a></li>
            <li class="button button--menu"><a href=" ">Connexion</a><a href=""></a><a href=""></a></li>
    </nav>
 </header>  
